* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000000;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 20px 50px;
    background-color: rgb(27, 27, 27);
    height: 70px;
}

.left {
    display: flex;
    align-items: center;
}

.left a {
    text-decoration-line: none;
}

.left h1 {
    color: white;
    font-size: 20px;
}

.img {
    width: 60px;
    height: 60px;
}

.right {
    display: flex;
    gap: 35px;
    align-items: center;
    color: white;
}

.right a {
    text-decoration-line: none;
    color: white;
    font-size: large;
}

a:hover {
    color: #ff5020;
    transition: 0.3s;
}

.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 30px;
  font-size: 32px;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 1s ease;
  z-index: 1000;
}


#menu-toggle:checked~.menu {
  transform: translateX(0);
  transition: 1s;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.menu-links {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.menu-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease;
}

.menu-links a:hover {
  color: #ff5020;
}


@media (max-width: 550px) {
  .burger {
    display: flex;
  }

  .right {
    display: none;
  }

  .icons {
    display: flex;
    gap: 35px;
  }
}

.section-1 {
    height: 900px;
}


.main-1  {
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 500px;
    padding: 100px;
    align-items: center;
    background: #2d2d2d url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    width: 100%;
}

.page {
    z-index: 10;
}

.img-1 {
    width: 100%;
    height: 610px;
}

.text1 {
    position: relative;
    right: 35%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text1 h2 {
    color: #ff5020;
    font-size: 40px;
}

.text1 h3 {
    color: white;
    font-size: 20px;
}

.main-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.main-2 p {
    width: 90%;
    font-size: large;
}

.section {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 100px;
    z-index: -1;
}

.bg {
    background-image: url(images/img-8.avif);
}



.main-3 {
    height: 652px;
}

.main-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 150px;
}

.card-3 {
    display: flex;
}

.top-3 {
    font-size: xx-large;
    padding-bottom: 30px
}

.card-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 370px;
    height: 280px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 1 250px;
}

.card-2 h3 {
    color: #ff5020;
    font-size: 22px;
    position: relative;
    bottom: 40px;
}

.card-2 .p {
    position: relative;
    bottom: 20px;
}

.text {
    display: flex;
    gap: 25px;
}

.box {
    width: 230px;
    height: 280px;
    background-color: #ff5020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box h2 {
    width: 150px;
    padding-left: 10px;
}

.box button {
    width: 130px;
    height: 40px;
    color: #ff5020;
    border: none;
}

.box button:hover {
    background-color: #ff5020;
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

.map1 {
    width: 100%;
    height: 400px;
    position: relative;
    top: 10px;
}

.bottom-3 {
    background-color: rgb(41, 41, 41);
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 900px;
    background-color: #ffffff;
    z-index: 3;
}

.block {
    display: block;
}

.main-page {
    width: 100%;
}

.top11 {
    padding-bottom: 150px;
    display: flex;
    background-color: gray;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 20px;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.top11 h4 {
    color: white;
}

.top11 {
    color: #ff5020;
    font-size: 21px;
}

.close-1 {
    position: relative;
    left: 890px;
    bottom: 240px;
    font-size: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
}


.bottom11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 550px;
    gap: 30px;
    width: 800px;
    position: absolute;
    bottom: 230px;
    left: 100px;
    padding-top: 70px;
}

.bottom11 input {
    border: none;
    border-bottom: 1px solid rgba(53, 53, 53, 0.699);
}

.bottom-page1 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page1 input {
    width: 250px;
    height: 30px;
}

.bottom-page2 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page2 input {
    height: 30px;
}

.bottom-page3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.bottom-page3 input {
    height: 30px;
}

.bottom-page2 input {
    width: 250px;
}

.bottom11 label {
    font-size: 14px;
    color: #2d2d2d;
}


.text-1 input {
    width: 500px;
    height: 80px;
}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .buttonn {
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #ff5020;
    color: white;
    border: none;
    position: relative; 
    right: 166px;
}

.buttonn:hover {
    border: 1px solid #ff5020;
    color: #ff5020;
    background-color: white;
    transition: 0.6s;
}

@media (max-width: 430px) {
    .header-main {
        width:  100%;
        padding: 20px;
        gap: 10px;
    }

    .right {
        gap: 25px;
        padding-right: 50px;
    }

    .left h1 {
        font-size: 13px;
        width: 100px;
    }


    .section-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-1 {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
    }

    .text1 {
        position: relative;
        left: 0;
        width: 400px;
    }

    .page {
        position: relative;
        top: 150px;
        width: 400px;
    }

    .img-1 {
        width: 400px;
        height: 350px;
    }

    .main-2 {
        padding-right: 0;
        position: relative;
        bottom: 60px;
        gap: 0;
    }

    .main-2 p {
        width: 400px;
        padding: 50px;
    }

    .main-3 {
        width: 100%;
        position: relative;
        bottom: 100px;
        height: 400px;
    }

    .section {
        height: 450px;
    }


    .main-6 {
        display: flex;
        width: 100%;
        padding: 150px 0 0 0;
    }

    .top-3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-2 {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .text {
        display: flex;
        gap: 50px;
    }

    .box {
        width: 100% !important;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .box h2 {
        width: 300px;
    }

    .box button {
        width: 200px;
        height: 50px;
    }

    .map {
        width: 100%;
        height: 440px;
        position: relative;
        bottom: 13px;
    }

    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 750px;
        background-color: #ffffff;
        z-index: 3;
    }

    .top11 {
        padding: 0 0 0 30px;
        height: 100px;
    }

    .top11 h1{
        font-size: 30px;
    }

    .bottom11 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 400px;
    }

    .close-1 {
        position: relative;
        left: 340px;
        bottom: 80px;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .bottom11 input {
        width: 250px;
    }

    .bottom-page1 {
        position: relative;
        bottom: 110px;
        right: 10px;
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .bottom-page2 {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding-bottom: 0;
        position: relative;
        right: 10px;
        bottom: 110px;
    }

    .bottom-page3 {
        width: 250px;
        position: relative;
        bottom: 110px;
        right: 10px;
    }

    .text-1 {
        width: 250px;
        position: relative;
        bottom: 110px;
        right: 10px;
    }

    .text-1 input {
        height: 40px;
    }

    .buttonn {
        position: relative;
        right: 0;
        bottom: 100px;
        min-height: 30px;
        width: 250px;
        right: 10px;
    }
}

@media (max-width: 800px) {
    .header-main {
        padding: 30px 20px 30px 20px;
    }

}



@media (max-width: 700px) {
    .icons {
        display: none;
    }

    .icon {
        display: none;
    }

    .header-main {
        padding: 30px 10px 30px 10px;
    }

    
}

@media (max-width: 1000px) {

    .top-3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 370px;
    }
}