* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000000;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 20px 50px;
    background-color: rgb(27, 27, 27);
    height: 70px;
}

.left {
    display: flex;
    align-items: center;
}

.left h1 {
    color: white;
    font-size: 20px;
}

.img {
    width: 60px;
    height: 60px;
}

.right {
    display: flex;
    gap: 35px;
    align-items: center;
    color: white;
}

.right a {
    text-decoration-line: none;
    color: white;
    font-size: large;
}

a:hover {
    color: #ff5020;
    transition: 0.3s;
}

.main-1 {
    display: flex;
    background-color: rgb(94, 94, 94);
    justify-content: space-around;
     background: #2d2d2d url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
}

.left1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 0 100px;
    gap: 20px;
    font-size: xx-large;
    color: white;
    min-width: 500px;
}

.left1 p {
    font-size: 15px;
}

.left1 button {
    width: 150px;
    height: 40px;
    background-color: #ff5020;
    border: none;
    color: white;
}

.left1 button:hover {
    background-color: white;
    color: #ff5020;
    transition: 0.4s;
}

.video {
    padding: 0 120px 0 100px ;
    max-width: 1300px;

}

.main-2 {
    display: flex;
    padding-bottom: 100px;
    z-index: 1000;
    background-color: white;
}

.left2 {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 200px 0 0 100px;
}

.right2 {
    padding: 230px 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 370px;
}

.right2 h1 {
    color: #ff5020;
    font-size: 40px;
}

.img-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: larger;
}

.img-1 {
    display: flex;
    align-items: center;
}

.img-1 img {
    width: 50px;
    height: 45px;
}

.button {
    background-color: #ff5020;
    width: 160px;
    height: 40px;
    border: none;
    color: white;
}

.button:hover {
    background-color: white;
    color: #ff5020;
    border: 1px solid #ff5020;
}

.main-3 {
    height: 1500px;
    position: relative;
    bottom: 750px;
}

.img-3 {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    position: sticky;
    top: 0;
}

.left3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
    width: 260px;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 650px;
    top: 150px;
    padding: 200px 0 0 150px;
    font-size: x-large;
}

.left3 h1 {
    color: #ff5020;
    width: 400px;
}

.left3 p {
    width: 300px;
    font-size: large;
    line-height: 40px;
}

.section-1 {
    height: 1000px;
}

.section {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 800px;
    z-index: -1;

}

.bg {
    background-image: url(images/img-2.avif);
}

.bottom {
    display: flex;
    position: relative;
    top: 250px;
    padding-left: 15%;
    align-items: center;
    background-color: white;
}

.img-4 {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    right: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    color: rgba(0, 0, 0, 0.575);
    position: relative;
    bottom: 200px;
    background-color: white;
}

.main-4 {
    display: flex;
    flex-direction: column;
    padding: 0 100px 100px 100px;
    justify-content: center;
    align-items: center;
}

.top-1 {
    position: relative;
    bottom: 100px;
    right: 330px;
    font-size: 30px;
}

.bottom-1 {
    display: flex;
    gap: 120px;
}

.card-1 {
    display: flex;
    width: 300px;
    gap: 20px;
    flex-direction: column;
}

.img-6 {
    position: relative;
    right: 30px;
}

.card-1 p {
    font-size: large;
}

.card-1 h5 {
    color: #ff5020;
    font-size: 16px;
}

.section-2 {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg-1 {
    background-image: url(images/img-6.avif);
}

.bg-2 {
    background-color:rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 652px;
    position: relative;
    z-index: 1000;
    bottom: 652px;
}

.main-5 {
    height: 652px;
}

.main-6 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 100px;
}

.card-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-3 {
    font-size: xx-large;
    padding-bottom: 30px
}

.card-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 370px;
    height: 280px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 1 250px;
}

.card-2 h3 {
    color: #ff5020;
    font-size: 22px;
}

.text {
    display: flex;
    gap: 25px;
}

.box {
    width: 230px;
    height: 280px;
    background-color: #ff5020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box h2 {
    width: 150px;
    padding-left: 10px;
}

.box button {
    width: 130px;
    height: 40px;
    color: #ff5020;
    border: none;
}

.box button:hover {
    background-color: #ff5020;
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

.map1 {
    width: 100%;
    height: 400px;
    position: relative;
    top: 10px;
}

.bottom-3 {
    background-color: rgb(41, 41, 41);
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

