@font-face {
    font-family: 'font';
    src: url(font/Outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 500;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 20px 50px;
    background-color: rgb(27, 27, 27);
    height: 70px;
}

.left {
    display: flex;
    align-items: center;
}

.left a {
    text-decoration-line: none;
}

.left h1 {
    color: white;
    font-size: 20px;
}

.img {
    width: 60px;
    height: 60px;
}

.right {
    display: flex;
    gap: 35px;
    align-items: center;
    color: white;
}

.right a {
    text-decoration-line: none;
    color: white;
    font-size: large;
}

a:hover {
    color: #ff5020;
    transition: 0.3s;
}

.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 30px;
  font-size: 32px;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 1s ease;
  z-index: 1500;
}


#menu-toggle:checked~.menu {
  transform: translateX(0);
  transition: 1s;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.menu-links {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.menu-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease;
}

.menu-links a:hover {
  color: #ff5020;
}


@media (max-width: 550px) {
  .burger {
    display: flex;
  }

  .right {
    display: none;
  }

  .icons {
    display: flex;
    gap: 35px;
  }
}




.main-1 {
    display: flex;
    background-color: rgb(94, 94, 94);
    justify-content: space-around;
    background: #2d2d2d url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    flex-wrap: wrap;
    min-height: 400px;
}

.left1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 0 100px;
    gap: 20px;
    font-size: xx-large;
    color: white;
    min-width: 500px;
}

.left1 p {
    font-size: 15px;
}

.left1 button {
    width: 150px;
    height: 40px;
    background-color: #ff5020;
    border: none;
    color: white;
    cursor: pointer;
}

.left1 button:hover {
    background-color: white;
    color: #ff5020;
    transition: 0.4s;
}

.video {
    max-width: 60%;
    padding: 0 40px;
    flex: 1 1 500px;
    max-width: 100%;
}

.video video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-2 {
    display: flex;
    padding-bottom: 50px;
    z-index: 1000;
    background-color: white;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.main-2 img {
    width: 150%;
    height: 500px;
}

.left2 {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 200px 0 0 0;
}

.left2 img {
    width: 100%;
    max-width: 350px;
    height: 550px;
    object-fit: cover;
    aspect-ratio: 1/1;
    flex: 1 1 300px;
}


.right2 {
    padding: 200px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 370px;
}

.right2 h1 {
    color: #ff5020;
    font-size: 40px;
}

.img-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: larger;
}

.img-1 {
    display: flex;
    align-items: center;
}

.img-1 img {
    width: 50px;
    height: 45px;
}

.right2 button {
    background-color: #ff5020;
    width: 160px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
}

.right2 button:hover {
    background-color: white;
    color: #ff5020;
    border: 1px solid #ff5020;
}


@media (max-width: 1210px) {

    .right2 {
        padding: 0;
        display: flex;
    }

    .left2 {
        padding: 100px 0 0 0;
    }
    
}

.main-3 {
    position: relative;
}

.img-3 {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    position: sticky;
    top: 0;
}

.left3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
    width: 260px;
    color: white;
    width: 100%;
    top: 150px;
    padding: 110px;
    font-size: x-large; 
}

.left3 h1 {
    color: #ff5020;
    width: 400px;
}

.left3 p {
    width: 300px;
    font-size: large;
    line-height: 40px;
}



.section {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.bg {
    background-image: url(images/img-2.avif);
}

.bottom {
    display: flex;
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: white;
    width: 100%;
}

.img-4 {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    right: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    color: rgba(0, 0, 0, 0.575);
    background-color: white;
    flex-wrap: wrap;
}

.main-4 {
    display: flex;
    flex-direction: column;
    padding: 0 100px 100px 100px;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
}

.top-1{
    position: relative;
    bottom: 100px;
    right: 20%;
    font-size: 30px;
}

.bottom-1 {
    display: flex;
    gap: 120px;
    width: 100%;
}

.card-1 {
    display: flex;
    width: 300px;
    gap: 20px;
    flex-direction: column;
}

.img-6 {
    position: relative;
    right: 30px;
}

.card-1 p {
    font-size: large;
}

.card-1 h5 {
    color: #ff5020;
    font-size: 16px;
}

.section-2 {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg-1 {
    background-image: url(images/img-6.avif);
}


.main-5 {
    height: 652px;
}

.main-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 100px;
}

.card-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-3 {
    font-size: xx-large;
    padding-bottom: 30px
}

.card-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 370px;
    height: 280px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 1 250px;
}

.card-2 h3 {
    color: #ff5020;
    font-size: 22px;
}

.text {
    display: flex;
    gap: 25px;
}

.box {
    width: 230px;
    height: 280px;
    background-color: #ff5020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box h2 {
    width: 150px;
    padding-left: 10px;
}

.box button {
    width: 130px;
    height: 40px;
    color: #ff5020;
    border: none;
}

.box button:hover {
    background-color: #ff5020;
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

.map1 {
    width: 100%;
    height: 400px;
    position: relative;
    top: 10px;
}

.bottom-3 {
    background-color: rgb(41, 41, 41);
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 900px;
    background-color: #ffffff;
    z-index: 3;
}

.block {
    display: block;
}

.main-page {
    width: 100%;
}

.top11 {
    padding-bottom: 150px;
    display: flex;
    background-color: gray;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 20px;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.top11 h4 {
    color: white;
}

.top11 h1{
    color: #ff5020;
    font-size: 21px;
}

.close-1 {
    position: relative;
    left: 890px;
    bottom: 240px;
    font-size: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
}


.bottom11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 550px;
    gap: 30px;
    width: 800px;
    position: absolute;
    bottom: 230px;
    left: 100px;
    padding-top: 70px;
}

.bottom11 input {
    border: none;
    border-bottom: 1px solid rgba(53, 53, 53, 0.699);
}

.bottom-page1 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page1 input {
    width: 250px;
    height: 30px;
}

.bottom-page2 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page2 input {
    height: 30px;
}

.bottom-page3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.bottom-page3 input {
    height: 30px;
}

.bottom-page2 input {
    width: 250px;
}

.bottom11 label {
    font-size: 14px;
    color: #2d2d2d;
}


.text-1 input {
    width: 500px;
    height: 80px;
}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .buttonn {
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #ff5020;
    color: white;
    border: none;
    position: relative; 
    right: 166px;
}

.buttonn:hover {
    border: 1px solid #ff5020;
    color: #ff5020;
    background-color: white;
    transition: 0.6s;
}

@media (max-width: 550px) {

    .mainn {
       min-width: 100%;
    }

   
    .header-main {
        width:  100%;
        padding: 0;
        gap: 10px;
    }

    .right {
        display: none;
    }
    
    .left {
        padding-left: 20px;
    }

    .left h1 {
        font-size: 15px;
        width: 150px;
    }


    .main-1 {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 100%;
    }

    .left1 {
        display: flex;
        height: 200px;
        padding-left: 10px;
        min-width: 350px;
    }

    .video {
        padding: 120px 0 0 0;
        position: relative;
        right: 367px;
        top: 200px;
    }

    .videos {
        height: 500px;
    }


    .main-2 {
       display: flex;
       flex-direction: column-reverse !important; 
       padding-top: 300px;
       padding-bottom: 0px;
    }

    .right2 {
        width: 100%;
        height: 520px;
        padding-left: 30px;
    }

    .right2 p {
        width: 270px;
    }

    .left2 {
        display: flex;
        flex-direction: column;
        width: 100% 
    }

    .left2 img {
        min-width: 183.2%;
        height: 500px;
    }


    .section-1 {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .main-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left3 {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 100;
        padding: 120px 0px 120px 12px;
    }

    .section {
        min-height: 50vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }

    .card {
        width: 100%;
        height: 100px;
    }

    .main-4 {
        display: flex;
        flex-direction: column;
        z-index: 10000;
    }

    .top-1 {
        position: relative;
        left: 0px;
        font-size: 20px;
        bottom: 90px;
    }

    .bottom-1 {
        display: flex;
        flex-direction: column;
    }

    .main-5 {
        width: 100%;
        height: 400px;
    }

    .section-2 {
        display: flex;
        height: 400px;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .bg-2 {
        position: relative;
        top: 1052;
        bottom: 468px;
        height: 468px;
        
    }

    .main-6 {
        display: flex;
        width: 100%;
        padding: 150px 0 0 0;
    }

    .top-3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-2 {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .text {
        display: flex;
        gap: 50px;
    }

    .box {
        width: 100% !important;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .box h2 {
        width: 300px;
    }

    .box button {
        width: 200px;
        height: 50px;
    }

    .map {
        width: 100%;
        height: 440px;
        position: relative;
        bottom: 13px;
    }

    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 750px;
        background-color: #ffffff;
        z-index: 3;
    }

    .top11 {
        padding: 0 0 0 30px;
        height: 100px;
    }

    .bottom11 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 400px;
    }

    .close-1 {
        position: relative;
        left: 340px;
        bottom: 80px;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .bottom11 input {
        width: 250px;
    }

    .bottom-page1 {
        position: relative;
        bottom: 110px;
        right: 10px;
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .bottom-page2 {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding-bottom: 0;
        position: relative;
        right: 10px;
        bottom: 110px;
    }

    .bottom-page3 {
        width: 250px;
        position: relative;
        bottom: 110px;
        right: 10px;
    }

    .text-1 {
        width: 250px;
        position: relative;
        bottom: 110px;
        right: 10px;
    }

    .text-1 input {
        height: 40px;
    }

    .buttonn {
        position: relative;
        right: 0;
        bottom: 100px;
        min-height: 30px;
        width: 250px;
        right: 10px;
    }

}


@media (max-width: 800px) {
    .header-main {
        padding: 30px 20px 30px 20px;
    }

    .left img {
        width: 50px;
        height: 50px;
    }

    .main-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left2 {
        width: 300px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .icons {
        display: none;
    }

    .icon {
        display: none;
    }

    .header-main {
        padding: 30px 10px 30px 10px;
    }

    .left img {
        width: 50px;
        height: 50px;
    }

    .left {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .card{
        font-size: 13px;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width: 1000px) {

    .top-3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
    }

    .box {
        width: 370px;
    }
}

@media (max-width: 430px) {
    .left2 img{
        min-width: 143.2%;
    }
}






