* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000000;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 20px 50px;
    background-color: rgb(27, 27, 27);
    height: 70px;
}

.left {
    display: flex;
    align-items: center;
}

.left a {
    text-decoration-line: none;
}

.left h1 {
    color: white;
    font-size: 20px;
}

.img {
    width: 60px;
    height: 60px;
}

.right {
    display: flex;
    gap: 35px;
    align-items: center;
    color: white;
}

.right a {
    text-decoration-line: none;
    color: white;
    font-size: large;
}

a:hover {
    color: #ff5020;
    transition: 0.3s;
}

.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 30px;
  font-size: 32px;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 1s ease;
  z-index: 1000;
}


#menu-toggle:checked~.menu {
  transform: translateX(0);
  transition: 1s;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.menu-links {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.menu-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease;
}

.menu-links a:hover {
  color: #ff5020;
}


@media (max-width: 550px) {
  .burger {
    display: flex;
  }

  .right {
    display: none;
  }

  .icons {
    display: flex;
    gap: 35px;
  }
}

.background {
    background-color:  rgb(94, 94, 94);
    width: 100%;
    height: 430px;
    z-index: -1;
    background: #2d2d2d url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
}

.text-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
    padding: 100px 0 0 350px;
    font-size: 30px;
    gap: 10px;
    color: white;
}


.text-1 h4 {
    color: white;
}

.text-1 h1 {
    color: #ff5020;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page1 {
    display: flex;
    background-color: white;
    color: black;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    bottom: 170px;
    width: 980px;
    height: 200px;
    padding: 0 20px 0 20px;
}

.text-2 {
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 920px;
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
    top: 20px;
    
}

.text-2 a {
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}

.text-3 {
    position: relative;
    top: 40px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-3 button {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #ff5020;
    color: white;
}

.page2 {
    display: flex;
    background-color: white;
    color: black;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    bottom: 120px;
    width: 980px;
}

.text-4 {
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 920px;
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
    top: 20px;
}

.text-4 a {
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}

.text-5 {
    position: relative;
    top: 40px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-5 button {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #ff5020;
    color: white;
}

.page3 {
    display: flex;
    background-color: white;
    color: black;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    bottom: 50px;
    width: 980px;
}

.text-6 {
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 920px;
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
    top: 20px;
}

.text-6 a {
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}

.text-7 {
    position: relative;
    top: 40px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-7 button {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #ff5020;
    color: white;
}

.page4 {
    display: flex;
    background-color: white;
    color: black;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    top: 30px;
    width: 980px;
}

.text-8 {
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 920px;
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
    top: 20px;
}

.text-8 a {
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}


.text-9 {
    position: relative;
    top: 40px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.text-9 button{
    width: 110px;
    height: 40px;
    border: none;
    background-color: #ff5020;
    color: white;
}

.page5 {
    display: flex;
    background-color: white;
    color: black;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    top: 120px;
    width: 980px;
}

.text-10 {
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 920px;
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
    top: 20px;
}

.text-10 a {
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}

.text-11 {
    position: relative;
    top: 40px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-11 button {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #ff5020;
    color: white;
}

.border {
    border-bottom: 1px solid black;
    width: 920px;
}

.main-1 {
    height: 700px;
}

.section {
    min-height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.bg {
    background-image: url(images/img-9.avif);
    position: relative;
    top: 250px;
}

.main-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 150px;
}

.card-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-3 {
    font-size: xx-large;
    padding-bottom: 30px
}

.card-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 350px;
    height: 280px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 1 250px;
}

.card-2 h3 {
    color: #ff5020;
    font-size: 22px;
}

.text {
    display: flex;
    gap: 25px;
}

.box {
    width: 230px;
    height: 280px;
    background-color: #ff5020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box h2 {
    width: 150px;
    padding-left: 10px;
}

.box button {
    width: 130px;
    height: 40px;
    color: #ff5020;
    border: none;
}

.box button:hover {
    background-color: #ff5020;
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

.map1 {
    width: 100%;
    height: 400px;
    position: relative;
    top: 10px;
}

.bottom-3 {
    background-color: rgb(41, 41, 41);
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 900px;
    background-color: #ffffff;
    z-index: 3;
}

.block {
    display: block;
}

.main-page {
    width: 100%;
}

.top11 {
    padding-bottom: 150px;
    display: flex;
    background-color: gray;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 20px;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.top11 h4 {
    color: white;
}

.top11 {
    color: #ff5020;
    font-size: 21px;
}

.close-1 {
    position: relative;
    left: 890px;
    bottom: 240px;
    font-size: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
}


.bottom11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 550px;
    gap: 30px;
    width: 800px;
    position: absolute;
    bottom: 230px;
    left: 100px;
    padding-top: 70px;
}

.bottom11 input {
    border: none;
    border-bottom: 1px solid rgba(53, 53, 53, 0.699);
}

.bottom-page1 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page1 input {
    width: 250px;
    height: 30px;
}

.bottom-page2 {
    display: flex;
    gap: 25px;
    width: 250px;
    padding-bottom: 30px;
    position: relative;
    right: 125px;
}

.bottom-page2 input {
    height: 30px;
}

.bottom-page3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.bottom-page3 input {
    height: 30px;
}

.bottom-page2 input {
    width: 250px;
}

.bottom11 label {
    font-size: 14px;
    color: #2d2d2d;
}


.text-1 input {
    width: 500px;
    height: 80px;
}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    bottom: 80px;
    right: 175px;
}

 .buttonn {
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    background-color: #ff5020;
    color: white;
    border: none;
    position: relative; 
    right: 166px;
    bottom: 50px;
}

.buttonn:hover {
    border: 1px solid #ff5020;
    color: #ff5020;
    background-color: white;
    transition: 0.6s;
}

@media (max-width: 550px) {

    .header-main {
        width:  100%;
        padding: 0;
        gap: 10px;
    }

    .right {
        gap: 25px;
        padding-right: 50px;
    }

    .left h1 {
        font-size: 13px;
        width: 100px;
    }

    .background {
        width: 100%;
    }

    .text-1 {
        position: relative;
        right: 280px;
        width: 100%;
    }

    .text-1 h1 {
        width: 250px;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .page1 {
        width: 370px;
        position: relative;
        bottom: 0;
        border: 1px solid black;
        height: 300px;
        top: 50px;
    }

    .text-2 {
        border: none;
        width: 100%;
    }

    .text-2 h1 {
        font-size: 25px;
    }

    .text-3 {
        border-top: 1px solid #2d2d2d;
        width: 330px;
        padding-top: 20px;
    }

    .page2 {
        width: 370px;
        position: relative;
        bottom: 0;
        border: 1px solid black;
        height: 300px;
        top: 80px;
        padding: 15px;
    }

    .text-4 {
        border: none;
        width: 300px;
    }

    .text-4 h1 {
        font-size: 25px;
    }

    .text-5 {
        border-top: 1px solid #2d2d2d;
        width: 330px;
        padding-top: 20px;
    }

    .page3 {
        width: 370px;
        position: relative;
        bottom: 0;
        border: 1px solid black;
        height: 300px;
        top: 110px;
        padding: 15px;
    }

    .text-6 {
        border: none;
        width: 100%;
    }

    .text-6 h1 {
        font-size: 25px;
    }

    .text-7 {
        border-top: 1px solid #2d2d2d;
        width: 330px;
        padding-top: 20px;
    }

    .page4 {
        width: 370px;
        position: relative;
        bottom: 0;
        border: 1px solid black;
        height: 300px;
        top: 140px;
        padding: 15px;
    }

    .text-8 {
        border: none;
        width: 100%;
    }

    .text-8 h1 {
        font-size: 25px;
    }

    .text-9 {
        border-top: 1px solid #2d2d2d;
        width: 330px;
        padding-top: 20px;
    }

    .page5 {
        width: 370px;
        position: relative;
        bottom: 0;
        border: 1px solid black;
        height: 300px;
        top: 170px;
        padding: 15px;
    }

    .text-10 {
        border: none;
        width: 100%;
    }

    .text-10 h1 {
        font-size: 25px;
    }

    .text-11 {
        border-top: 1px solid #2d2d2d;
        width: 330px;
        padding-top: 20px;
    }

    .border {
        border: none;
    }

    .main-1 {
        width: 100%;
    }

    .bg-1 {
        position: relative;
        top: -1;
        bottom: 162px;
        height: 413px;
    }

    .main-6 {
        display: flex;
        width: 100%;
        padding: 150px 0 0 0;
    }

    .top-3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px;
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-2 {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .text {
        display: flex;
        gap: 50px;
    }

    .box {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    .box h2 {
        width: 300px;
    }

    .box button {
        width: 200px;
        height: 50px;
    }

    .map {
        width: 100%;
        height: 440px;
        position: relative;
        bottom: 13px;
    }
   
}